linkColor(theColor)
  > line
    stroke theColor
  > use
    fill theColor

.node.parti_EELV
  circle, path
    fill: #acffac
.node.parti_PS
  circle, path
    fill: #ffacc8
.node.parti_PC
  circle, path
    fill: #ff4444
.node.parti_LR
  circle, path
    fill: #4444FF

.link.Links_Autre
  linkColor(#818181)
